.DS_Store
*/.DS_Store
*.DS_Store
*Breakpoints_v2.xcbkptlist
*/Breakpoints_v2.xcbkptlist
# User specific files
*/UserInterfaceState.xcuserstate

#Pods
Pods/
**/Pods
*/Pods/
*/Podfile.lock
Podfile.lock

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.orig

## Obj-C/Swift specific
*.hmap
*.ipa

## Aditional 
*/xcschememanagement.plist
xcuserdata/
DerivedData

## Git hooks 
.githooks/post-checkout
.githooks/post-commit
.githooks/post-merge
.githooks/pre-push
